{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Get to know if the name of a person matches their look</h1>

{#    {{ form_start(form) }}#}
{#    {{ form_row(form.name) }}#}
{#    {{ form_row(form.photo) }}#}
{#    {{ form_end(form) }}#}
    <form method="POST" action="{{ path('home') }}" enctype="multipart/form-data">
        <div>
            <input type="text" name="name">
        </div>
        <div>
            <input type="file" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
{% endblock %}
